.App {
  text-align: center;
}

/* START UserCard CSS*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}

.single-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  max-width: 300px;
  text-align: auto;
  font-weight: 500;
  border-width: medium;
  margin: 20px;
}

p {
  padding: 0;
  margin: 1;
  line-height: 1em;
}

li {
  margin-left: 0.6em;
}

.grid-item {
  background-color: rgba(246, 242, 242, 0.8);
  border: 1px solid rgb(255, 255, 255);
  min-height: 350px;
  padding: 25px;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.avatar {
  background-color: gray;
  color: black;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid red;
  margin: auto;
  width: 100px;
  height: 100px;
}

button {
  background-color: blue;
  color: white;
  width: 65%;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
}

/*END UserCard CSS*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
