.App {
  text-align: center;
}
body {
  background-color: #9198e5;
}

/* START UserCard CSS*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 0.36%;
  padding-inline-start: 20%;
  padding-inline-end: 20%;
  position: absolute;
}

.grid-item {
  background-color: rgba(246, 242, 242, 0.8);
  border: 1px solid rgb(255, 255, 255);
  padding: 25px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.single-container {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  border-width: medium;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

p {
  padding: 0;
  margin: 1;
  line-height: 1em;
}

li {
  margin-left: 0.6em;
}

i {
  color: rgb(85, 85, 85);
  font-weight: 400;
}

.email-style {
  margin-top: 7%;
}

.avatar {
  background: linear-gradient(#e66465, #9198e5);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  margin: auto;
  margin-bottom: 10%;
  width: 100px;
  height: 100px;
}

button {
  background-color: blue;
  color: white;
  width: auto;
  border: 1px solid blue;
  margin-top: 30%;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.7);
}

/*END UserCard CSS*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
